  <div class="panel-heading text-center">
    <button type="button" class="close" aria-label="Close" ng-click="b.close()">
      <span>&times;</span>
    </button>
    {{selectedBody.name}}
  </div>
  <div class="panel-body">
    <!-- radius: {{selectedBody.radius | distance:uDist }} {{uDist}} -->
    radius: <input ng-model="selectedBody.radius" ng-change="b.updateBody()"> {{uDist}}
    <br>mass: <span click-to-edit="selectedBody.mass"></span> {{uMass}}
    <span ng-show="selectedBody.luminosity">
      <br>luminosity: {{selectedBody.luminosity | luminosity:uLum}} {{uLum}}
    </span>
    <br>x : <span click-to-edit="selectedBody.position.x"></span>
    <br>x<sup>1</sup>: {{selectedBody.velocity.x | velocity:uDist:uTime}} {{uDist}}/{{uTime}}
    <br>y : <span click-to-edit="selectedBody.position.y"></span>
    <br>y<sup>1</sup>: {{selectedBody.velocity.y | velocity:uDist:uTime}} {{uDist}}/{{uTime}}
    <div class="text-center">
      <button type="button" class="btn btn-default btn" ng-click="b.remove(selectedBody.id)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div>
  </div>
