<div class="panel panel-default">
  <div class="panel-heading text-center">
    <button type="button" class="close" aria-label="Close" ng-click="b.close()">
      <span>&times;</span>
    </button>
    <h3 class="panel-title">{{selectedBody.name}}</h3>
  </div>
  <div class="panel-body">
    <form>
      <div class='form-group'>
        <label for='radius'>Radius</label>
        <div class='input-group'>
          <input unit='distance' id='radius' type="number" class='form-control input-sm'
            ng-model="selectedBody.radius" ng-change='b.updateBody(selectedBody)' ng-readonly="b.getRunningState()">
          <div class='input-group-addon'>{{ Units.labels.distance }}</div>
        </div>
      </div>
      <div class='form-group'>
        <label for='mass'>Mass</label>
        <div class='input-group'>
          <input unit='mass' id='mass' type="number" class='form-control input-sm'
            ng-model="selectedBody.mass"  ng-change='b.updateBody(selectedBody)' ng-readonly="b.getRunningState()">
          <div class='input-group-addon'>{{ Units.labels.mass }}</div>
        </div>
      </div>
      <div class='form-group'>
        <label for='luminosity'>Luminosity</label>
        <div class='input-group'>
          <input id='luminosity' type="number" class='form-control input-sm'
            ng-model="selectedBody.luminosity" ng-change='b.updateBody(selectedBody)' ng-readonly="b.getRunningState()">
        </div>
      </div>
      <div class='form-group'>
        <label>Position</label>
        <div class='input-group'>
          <div class='input-group-addon'>x</div>
          <input unit='distance'  id='positionx' type="number" class='form-control input-sm'
            ng-model="selectedBody.position.x" ng-change='b.updateBody(selectedBody)' ng-readonly="b.getRunningState()">
          <div class='input-group-addon'>{{ Units.labels.distance }}</div>
        </div>
      </div>
      <div class='form-group'>
        <div class='input-group'>
          <div class='input-group-addon'>y</div>
          <input unit='distance' id='positiony' type="number" class='form-control input-sm'
            ng-model="selectedBody.position.y" ng-change='b.updateBody(selectedBody)' ng-readonly="b.getRunningState()">
          <div class='input-group-addon'>{{ Units.labels.distance }}</div>
        </div>
      </div>
      <div class='form-group'>
        <label>Velocity</label>
        <div class='input-group'>
          <div class='input-group-addon'>x</div>
          <input unit='speed' id='velocityx' type="number" class='form-control input-sm'
            ng-model="selectedBody.velocity.x" ng-change='b.updateBody(selectedBody)' ng-readonly="b.getRunningState()">
          <div class='input-group-addon'>{{ Units.labels.speed }}</div>
        </div>
      </div>
      <div class='form-group'>
        <div class='input-group'>
          <div class='input-group-addon'>y</div>
          <input unit='speed' id='velocityy' type="number" class='form-control input-sm'
            ng-model="selectedBody.velocity.y" ng-change='b.updateBody(selectedBody)' ng-readonly="b.getRunningState()">
          <div class='input-group-addon'>{{ Units.labels.speed }}</div>
        </div>
      </div>
    </form>
    <div class="text-center">
      <div class='btn-group' role="group">
        <button type="button" class="btn btn-default" ng-click="b.remove(selectedBody.id)" ng-class="{'disabled': User.current == null }"
          ng-readonly="b.getRunningState()" data-toggle="tooltip"
          data-placement="bottom" title="Delete Body">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button type="button" class="btn btn-default" ng-click="b.toggleHabitable(selectedBody)" ng-readonly="b.getRunningState()"
         data-toggle="tooltip" data-placement="bottom" title="Toggle Habitable Zone">
          <span class="glyphicon glyphicon-record"></span>
      </button>
      </div>
    </div>
  </div>
</div>
