<simulation></simulation>
<div class="container-fluid">
  <div id="right-sidebar">
    <div class="panel panel-default">
      <div class="panel-body" body-data></div>
    </div>
  </div>
  <div id="left-sidebar">
    <nav ng-controller="userController as u">
      <ul id="user-menu" class="nav nav-stacked" >
        <li>
          <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-default btn-lg" ng-click="u.refresh()">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="u.togglePlay()">
              <span class="glyphicon glyphicon-{{pump}}" aria-hidden="true"></span>
            </button>
            <button id="btn_ruler" type="button" class="btn btn-lg toggleOff" ng-click="u.ruler()" >
              <img src="ruler.png" style="width:20px"/>
            </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-lg dropdown-toggle"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-list-alt"></span>
                </button>
                <ul id="drop-left" class="dropdown-menu">
                  <li><a href="#">Simulation TODO</a></li>
                  <li><a href="#">Another Simulation</a></li>
                </ul>
              </div>
              <button type="button" class="btn btn-default btn-lg" data-toggle="modal"
                                                                   data-target="#settings">
                <span class="glyphicon glyphicon-cog"></span>
          </div>
        </li>
      </ul>
    </nav>
    <nav ng-show="user.current" ng-controller="adminController as a">
      <ul class="nav nav-stacked" id="admin-menu">
        <li>
          <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-default btn-lg" ng-click="a.add()">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="a.remove()">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="a.save()">
              <span class="glyphicon glyphicon-floppy-disk" ></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="a.tip()">
              <span class="glyphicon glyphicon-comment"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="a.record()">
              <span class="glyphicon glyphicon-record"></span>
            </button>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div id="counter">
  <counter></counter>
</div>
