<simulation></simulation>
<div class="container-fluid" ng-controller="trackerController as t">
  <div id="notes" ng-controller="noteController">
    <div ng-repeat="n in showNotes()">
      <div>
        <div class="note" style="top: {{yTransform(n.position.y)}}px; left:{{xTransform(n.position.x)}}px;">
          <div>
            <h4>{{n.title}}</h4>
          </div>
          <div>
            {{n.text}} 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="right-sidebar">
    <div class="panel panel-default" body-data></div>
  </div>
  <div id="note-sidebar">
    <div class="panel panel-default" note-data></div>
  </div>
    <div id="tracker-sidebar" style="visibility:hidden">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><b>Orbit Tracker</b></div>
                <div class="panel">
                    <h4><span class="label label-success" ng-show="t.getState()" >Running</span></h4>
                    <h4><span class="label label-warning" ng-show="!t.getState()" >Not Running</span></h4>
                    <div class="row">
                        <div class="col-md-6">
                            <h4><span class="label label-default">Center Body</span></h4>
                            {{simulator.orbitTracker.centerBody.name}}
                            <button type="button" class="btn btn-light btn-block" ng-click="t.selectCenterBody()">Select</button>
                        </div>
                        <div class="col-md-6">
                            <h4><span class="label label-default">Target Body</span></h4>
                            {{simulator.orbitTracker.targetBody.name}}
                            <button type="button" class="btn btn-light btn-block" ng-click="t.selectTargetBody()">Select</button>
                        </div>
                    </div>
                    <br>
                    Orbits Completed: {{simulator.orbitTracker.orbitCount}}
                    <br>
                    Average Time: {{simulator.orbitTracker.orbitTime}}
                    <br>
                    Range: {{simulator.orbitTracker.timeRange.toPrecision(3)}}%
                    <br>
                    <button type="button" class="btn btn-light btn-block" ng-click="t.setState(true)"  ng-show="!t.getState()">Start</button>
                    <button type="button" class="btn btn-light btn-block" ng-click="t.setState(false)"  ng-show="t.getState()">Stop</button>
                </div>
            </div>
        </div>
  <div id="left-sidebar">
    <nav ng-controller="userController as u">
      <ul id="user-menu" class="nav nav-stacked" >
        <li>
          <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-default btn-lg" ng-click="u.refresh()">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="u.togglePlay()">
              <span class="glyphicon glyphicon-{{pump}}" aria-hidden="true"></span>
            </button>
            <button id="btn_ruler" type="button" class="btn btn-lg toggleOff" ng-click="u.ruler()" >
              <img src="ruler.png" style="width:20px"/>
            </button>
            <button id="btn_tracker" type="button" class="btn btn-lg toggleOff" ng-click="u.tracker()" >
                <img src="tracker.png" style="width:20px"/>
            </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-lg dropdown-toggle"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-list-alt"></span>
                </button>
                <ul id="drop-left" class="dropdown-menu">
                  <li><a href="#/s/">All Simulations</a></li>
                </ul>
              </div>
              <button type="button" class="btn btn-default btn-lg" data-toggle="modal"
                                                                   data-target="#settings">
                <span class="glyphicon glyphicon-cog"></span>
          </div>
        </li>
      </ul>
    </nav>
    <nav ng-show="user.current" ng-controller="adminController as a">
      <ul class="nav nav-stacked" id="admin-menu">
        <li>
          <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-default btn-lg" ng-click="a.add()">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="a.save()">
              <span class="glyphicon glyphicon-floppy-disk" ></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="a.addNote()">
              <span class="glyphicon glyphicon-comment"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="a.record()">
              <span class="glyphicon glyphicon-record"></span>
            </button>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div id="counter">
  <counter></counter>
</div>
