<!DOCTYPE html>
<html lang="en" ng-app="bridge">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="orbitable team">
  <link rel="icon" href="favicon.ico">

  <title>Orbitable</title>

  <!-- Bootstrap core CSS -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS-->
  <link href="css/template.css" rel="stylesheet">

  <script src="dist/app.js" ></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<body>

  <div id="view" class="container-fluid">
    <div ng-controller="bodyController as b">
      <svg id="svg">
        <g id="svgGroup">  <!-- moved styles to template.css -->
          <g id="xAxis"></g>
          <g id="yAxis"></g>
          <g id="bodyGroup">
            <circle cx="350" cy="350" r="50" fill="rgb(260, 140, 10)" />
            <circle cx="850" cy="350" r="100" fill="rgb(250, 240, 100)" />
          </g>
        </g>
      </svg>
      <div>

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top" >
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Orbitable</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" ng-controller="userController as u">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-hide="user">
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Sign In</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="user">
              <li>
                <!-- <div class="btn-group"> -->
                  <a class="btn-lg dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" href="#">
                {{name}}
                <span class="glyphicon glyphicon-user"></span>
              </a>
                  <ul class="dropdown-menu">
                    <li><a href="#" ng-click="u.logout()">Sign Out</a></li>
                  </ul>
                <!-- </div> -->
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <div class="container-fluid">
        <div id="sidebar">
          <nav>
            <ul id="user-menu" class="nav nav-stacked" ng-controller="userController as u">
              <li>
                <div class="btn-group-vertical" role="group">
                  <button type="button" class="btn btn-default btn-lg" ng-click="u.refresh()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default btn-lg" ng-click="u.play()">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default btn-lg" ng-click="u.pause()">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                  </button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-list-alt"></span>
                  </button>
                  <ul id="drop-left" class="dropdown-menu">
                    <li><a href="#">Simulation TODO</a></li>
                    <li><a href="#">Another Simulation</a></li>
                  </ul>
                </div>
              </div>
            </ul>
          </nav>
          <nav>
            <ul class="nav nav-stacked" id="admin-menu" ng-controller="adminController as a">
              <li>
                <div class="btn-group-vertical" role="group" ng-show="admin">
                  <button type="button" class="btn btn-default btn-lg" ng-click="a.add()">
                    <span class="glyphicon glyphicon-plus" ></span>
                  </button>
                  <button type="button" class="btn btn-default btn-lg" ng-click="a.remove()">
                    <span class="glyphicon glyphicon-minus" ></span>
                  </button>
                  <button type="button" class="btn btn-default btn-lg" ng-click="a.save()">
                    <span class="glyphicon glyphicon-floppy-disk" ></span>
                  </button>
                  <button type="button" class="btn btn-default btn-lg" ng-click="a.tip()">
                    <span class="glyphicon glyphicon-comment" ></span>
                  </button>
                  <button type="button" class="btn btn-default btn-lg" ng-click="a.record()">
                    <span class="glyphicon glyphicon-record" ></span>
                  </button>
                </div>
              </li>
            </ul>
          </nav>

        </div>

        <div id="counter">
          <counter></counter>
        </div>
      </div>

    </div>  <!-- end container -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </body>
  </html>
