body {
  padding: 50px;
}
canvas {
  width: 100%;
  border-width: medium;
}

.template {
  padding: 1px;
  /*font-size: 13px;*/
  text-align: center;
  font-family: 'Inconsolata','Courier New',Courier,monospace;
}

#admin-panel {
  position: absolute;
}
